<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-light px-4">
        <div class="container-fluid">
            <div class="col-2">
                <a class="navbar-brand" style="color:black" href="/">Goodshop</a>
            </div>


            <div class="col-4  mx-auto">
                <!--Search -->
                <form action="/goodshop" method="GET" class="row row-cols-lg-auto g-5 mb-1" id="search-form">
                    <div class="input-group mt-5">
                        <input type="text" class="form-control" id="search-keyword" name="keyword"
                            placeholder="Keyword..." aria-label="Search-input" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i
                                class="fas fa-search"></i></button>
                    </div>
                </form>

            </div>


            <div class="col-4">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                        {{#if user}}
                        <li class="nav-item d-inline-flex align-items-center">
                            <span class="text-black nav-link">Hi, {{ user.name }}&emsp;</span>
                        </li>
                        <li class="nav-item">
                            <a href="/logout"><button class="btn btn-outline-success my-sm-0 my-2">Logout</button></a>
                        </li>
                        &emsp;&emsp;
                        {{else}}
                        <li class="nav-item">
                            <a href="/login" class="my-sm-0 my-2">Login / Signup</a>
                        </li>
                        &emsp;&emsp;
                        {{/if}}
                        {{#if user.isSeller}}
                        <div class="col ml-2">
                            <a href="/admin/goodshop" class="btn btn-outline-primary my-sm-0 my-2">Product Center</a>
                        </div>
                        {{else}}
                        <!--Shopping cart -->
                        <a href="/cart" class="mt-2 mr-2">
                            <i class="fas fa-shopping-cart fa-1x"></i></a>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>